body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(116, 6, 6);
    margin: 20px 0;
}

.table {
    border: 0.5px solid rgba(0, 0, 0, 0.415);
    display: flex;
    flex-direction: column;
}

.row-table {
    display: flex;
}

.cell_row-table {
    width: 65px;
    height: 65px;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.415);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.cell_row-table:hover {
    background-color: rgb(239, 239, 239);
}

.header {
    width: 521px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



