
:root {
    --main-color: rgba(60, 184, 120, 1)

}

body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../image/Backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




/* --------- Header ------------ */


header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 17px 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    text-decoration: none;
    align-self: center;
}

.logo:hover {
    color: var(--main-color);
    transition: 0.5s;
}

.nagigation {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon-block a {
    display: flex;
    align-items: center;
}

.icon-block {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon-block::after {
    content: '';
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 50%;
}

.icon-block a:hover path {
    fill: rgba(60, 184, 120, 1);
    transition: 0.5s;
}

.login-block span, 
.login-block a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: white;
    text-decoration: none;
}


.login-block a:hover {
    color: var(--main-color);
    transition: 0.5s;
}



/* --------- Main ------------ */

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.form {
    width: 444px;
    padding: 31px 60px 38px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    box-sizing: border-box;
}

.title-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title-login h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #434343;
}

.title-login a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: var(--main-color);
    text-decoration: none;
}

.title-login a:hover {
    text-decoration: underline;
    transition: 0.5s;
}


/* --------- Buttons-Social ------------ */


.buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}

.buttons a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    text-decoration: none;
    padding: 9px 0 9px 10px;
    width: 156px;
    border-radius: 3px;
    gap: 15px;
}


.button-facebook {
    background-color: #305DB8;
}

.button-google {
    background-color: #DF4A32;
}

.button-divider {
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 10%;
}

.button-facebook:hover {
    background-color: #022263;
    transition: 0.5s;
}

.button-google:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}


.divider-or {
    width: 322px;
    height: 1px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.divider-or span {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #848484;
    padding: 0 4px;
    background-color: white;
}



/* --------- Inputs ------------ */

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 12px;
}

.text-field {
    width: auto;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0 15px 20px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.text-field:hover {
    border-color: #d0d0d0;
    transition: 0.5s;
}

.text-field:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-color: #d0d0d000;
    color: #434343;
}

.text-field::placeholder {
    color: #BEBEBE;
}

.change-theme_button {
    width: 150px;
    height: 40px;
    background-color: #DF4A32;
    border: none;
    font-size: 16px;
    border-radius: 6px;
}



/* --------- Checkbox & Button ------------ */


.container {
    margin-left: 30px;
    display: flex;
    position: relative;
    width: fit-content;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
}

.container a {
    margin-left: 4px;
    color: var(--main-color);
    text-decoration: none;
}

.container a:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.container input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.checkmark {
    display: block;
    content: url(../image/icons/checkbox-empty-icon.svg);
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 8px;
}

.container input:checked ~ .checkmark {
    content: url(../image/icons/checkbox-icon.svg);
}

.button-sumbit {
    width: 324px;
    height: 46px;
    padding: 15px auto;
    background-color: var(--main-color);
    border-color: #d0d0d000;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    cursor: pointer;
}

.button-sumbit:hover {
    background-color: rgba(1, 129, 63, 1);
    transition: 0.5s;
}