:root {
    --main-color: #18CFAB;
    --secondary-color: #00CBF6;
}
body {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* ----- Header ----- */

header {
    width: 1920px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
    background-color: rgba(94, 93, 88, 0.60);
    position: fixed;
    z-index: 1;
}

.navigagiton-list {
    display: flex;
    gap: 21px;
    align-items: center;
}

.navigagiton-list::after {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../images/icons/search-icon.svg);
    background-repeat: no-repeat;
}


.item_navigagiton-list a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 120px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-transform: uppercase;
    box-sizing: border-box;
}

.item_navigagiton-list a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}



/* ----- First Block ----- */
.first-block {
    width: 1920px;
    height: 1012px;
    background-image: url(../images/Sections-background/section-1\(header\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 379px 0 243px;
    box-sizing: border-box;
}

.text_first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

h1 {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    color: white;
}

.text_upper_h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
    color: white;
}

.text_upper_h1 span {
    color: var(--main-color);
}

.text_under_h1 {
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 34px;
    color: #D4D4D4;
}

.buttons_first-block {
    display: flex;
    gap: 26px;
}

.button {
    width: 169px;
    height: 68px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.button:hover {
    border-top: 5px solid white;
}

.main-button {
    background-color: var(--main-color);
}

.secondary-button {
    background-color: var(--secondary-color);
}




/* ----- Second Block ----- */
.second-block {
    display: flex;
    border-top: 8px solid white;
}

.item_second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    width: 480px;
    height: 360px;
    background-color: #1C2A33;
    color: var(--main-color);
}

.item_second-block span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 103px;
}

.item_second-block:nth-child(even) {
    background-color: var(--main-color);
    gap: 59px;
    color: white;
}



/* ----- Third Block ----- */

.third-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
    padding: 90px 0;
}

h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #4E4E4E;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

h3::after {
    content: '';
    width: 91px;
    height: 8px;
    background-image: url(../images/icons/lines.svg);
}


.tabs_block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tab_third-block {
    width: 192px;
    height: 72px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    cursor: pointer;  
    box-sizing: border-box; 
}

.tab_third-block:hover {
    border: 1px solid var(--main-color);
}

.tabs {
    width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.active-tab {
    background-color: var(--main-color);
    color: white;
    position: relative;
}

.active-tab::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 15px solid var(--main-color);
}

.text-photo-third-block {
    display: flex;
    gap: 15px;
}

.tabs p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #777;
}

.container-text {
    height: 216px;
}




/* ----- Fourth Block ----- */

.fourth-block {
    width: 1920px;
    height: 480px;
    background-image: url(../images/Sections-background/section-2.jpg);
    background-size: cover;
    background-position: center;
}

.background_fourth-block {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 128px 0;
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.paragraph_fourth-block {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #D8D8D8;
    text-align: center;
}




/* ----- Fifth Block ----- */

.fifth-block {
    background-color: #E9EDEF;
    padding: 96px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.tab_fifth-block {
    background-color: rgba(0, 0, 0, 0.00);
    padding: 14px 16px;
    border: 1px solid #DADADA;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    box-sizing: border-box;
    color: #717171;
    text-transform: capitalize;
}

.tab_fifth-block:nth-child(1) {
    padding: 14px 28px;
}

.tab_fifth-block:hover {
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.active-fifth-tab {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.main_fifth-block {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.content_fifth-block {
    display: grid;
    width: 1140px;
    grid-template-columns: repeat(4, 1fr);
}

.image-fifth-block {
    position: relative;
    overflow: hidden;
    height: 210px;
}

.image-fifth-block img {
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-fifth-block:hover .hover-details {
    opacity: 100%;
    top: 0;
    transition: 0.5s;
}

.hover-details {
    position: absolute;
    left: 0;
    top: 210px;
    background-color: #E9EDEF;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--main-color);
    padding: 46px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 4px;
}

.icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    border-radius: 50px;
}


.icon-container:hover {
    background-color: var(--main-color);
}

.icon-container:hover rect {
    fill: white;
}

.icon-container:hover path {
    fill: white;
}

.text-hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.text-hover span:nth-child(1) {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--main-color);
}

.text-hover span:nth-child(2) {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-transform: capitalize;
    color: #8A8A8A;
}

.load-button {
    width: 168px;
    height: 63px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.load-button:hover {
    border-top: 5px solid white;
}


/* ----- Sixth Block ----- */

.sixth-block {
    padding: 82px 0 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}


.content_sixth-block {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    column-gap: 33px;
    row-gap: 44px;
}

.item-sixth-block {
    width: 265px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.date-item_sixth-block {
    width: 66px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background-color: #203E38;
}

.date-item_sixth-block span {
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.date-item_sixth-block span::after {
    content: 'Feb';
}

.text-item_sixth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title-item_sixth-block {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #717171;
}

.additional-info_sixth-block {
    display: flex;
}

.additional-info_sixth-block span {
    font-size: 14px;
    font-weight: 300;
    color: #777;
}

.additional-info_sixth-block span:nth-child(1)::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    background-color: #777;
    margin-left: 15px;
    margin-right: 15px;
}

.item-sixth-block:hover .date-item_sixth-block {
    background-color: var(--main-color);
}

.item-sixth-block:hover .title-item_sixth-block {
    color: var(--main-color);
}



/* ----- Seventh Block ----- */

.seventh-block {
    background-image: url(../images/Sections-background/section-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seventh-block h3 {
    color: white;
    margin-bottom: 66px;
}

.background_seventh-block {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.text_seventh-block {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 38px;
}

.text_seventh-block p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #BBB;
    text-align: center;
}

.personal-info_seventh-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
}

.personal-info_seventh-block span {
    font-size: 13px;
    font-weight: 300;
    color: #BBB;
}


.images_seventh-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.selected-member {
    width: 166px;
    height: 166px;
    overflow: hidden;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #1FDAB520;
}

.all-members {
    display: flex;
    gap: 27px;
    align-items: center;
}

.member {
    width: 70px;
    height: 70px;
    border-radius: 99px;
    border: 5px solid #1FDAB520;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.member:hover {
    border: 5px solid #1FDAB540;
    transition: 1s;
}

.checked-member {
    position: relative;
    top: -13px;
    pointer-events: none;
}

.pagination {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BBBBBB;
    background-color: #00000001;
    cursor: pointer;
}

.pagination:hover {
    background-color: var(--main-color);
    border: none;
    transition: 1s;
}

.pagination:hover path {
    fill: white;
}

.arrow-disabled {
    opacity: 50%;
    pointer-events: none;
}


/* ----- Eighth Block ----- */

.eighth-block {
    padding: 95px 0 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eighth-block h3 {
    text-transform: none;
    margin-bottom: 72px;
}

.gallery_eighth-block {
    width: 1160px;
    display: grid;
    grid-template-columns: 378px 378px 364px;
    grid-template-rows: 263px 97px 53px 77px 81px 189px;
    grid-gap: 20px;
}

.inner-gallery {
    width: 364px;
    display: grid;
    grid-template-columns: 124px 53px 63px 115px;
    grid-template-rows: 168px repeat(3, 92px);
    grid-row: 1 / span 3;
    grid-column: 3;
    grid-gap: 3px;
}

.item img {
    height: 100%;
}

.item-1 {
    grid-row: 1;
    grid-column: 1;
}

.item-2 {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.item-3 {
    grid-row: 1;
    grid-column: 1 / 3;
}

.item-4 {
    grid-row: 1;
    grid-column: 3 / 5;
}

.item-5 {
    grid-row: 2;
    grid-column: 1 / 2;
}

.item-6 {
    grid-row: 2;
    grid-column: 2 / 4;
}

.item-7 {
    grid-row: 2;
    grid-column: 4 / 5;
}

.item-8 {
    grid-row: 3;
    grid-column: 1 / 2;
}

.item-9 {
    grid-row: 3;
    grid-column: 2 / 4;
}

.item-10 {
    grid-row: 3;
    grid-column: 4 / 5;
}

.item-11 {
    grid-row: 4;
    grid-column: 1 / 2;
}

.item-12 {
    grid-row: 4;
    grid-column: 2 / 4;
}

.item-13 {
    grid-row: 4;
    grid-column: 4 / 5;
}

.item-14 {
    grid-row: 2 / span 3;
    grid-column: 1;
}

.item-15 {
    grid-row: 3 / 6;
    grid-column: 2;
}

.item-16 {
    grid-row: 4 / 7;
    grid-column: 3;
}

.item-17 {
    grid-row: 5 / 7;
    grid-column: 1;
}

.item-18 {
    grid-row: 6 / 7;
    grid-column: 2;
}

.item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.item:hover .item-hover {
    opacity: 100%;
}

.item-hover {
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon-container_eighth-block {
    width: 27px;
    height: 25px;
    background-color: #14B9D5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-container_eighth-block:hover {
    background-color: #0a869b;
}

.button_eighth-block {
    margin-top: 52px;
}


/* ----- Footer ----- */

footer {
    padding: 47px 0;
    width: 100%;
    background-color: #22353F;
}

.text-footer {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
}

.text-footer span {
    color: var(--main-color);
}